doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title bibleAPI | #{__("title")}
  meta(name='author' content='@bibleapico')
  meta(name='description' content=__("description"))
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@700&display=swap")
  link(rel='stylesheet' href='/theme-v2/css/normalize.css')
  link(rel='stylesheet' href='/theme-v2/css/style.css')
body
  // Fixed Navigation
  nav
    .container
      a(href='/'): img(src='/theme-v2/images/logo-symbol-a-biblia-digital.svg' alt='A Bíblia Digital')
      ul
        li: a.text.section-scroll(href='#about' title=__('aboutTitle'))= __('about')
        li: a.text.section-scroll(href='#howToUse' title=__('howToUseTitle'))= __('howToUse')
        li: a.text(href='http://github.com/marciovsena/bibleapi' target='_blank' title=__('documentationTitle'))= __('documentation')
        li: a.text.section-scroll(href='#donate' title=__('donateTitle'))= __('donate')
        li: a.icon-github(href='http://github.com/marciovsena/bibleapi' target='_blank' title=__('githubTitle'))
        li: a.icon-twitter(href='http://twitter.com/bibleapico' target='_blank' title=__('contactTitle'))
        li: a.icon-discord(href='https://t.co/CFSf4CY47T' target='_blank' title=__('contactTitle'))
        li: a(href=__('changeLanguageLink') title=__('changeLanguageTitle')): img(src=__('changeLanguageImage') alt=__('changeLanguageTitle'))
  // Header
  header
    a(href='/'): img(src='/theme-v2/images/logo-a-biblia-digital.svg' alt='A Bíblia Digital')
    .container
      #hero
        .row
          .col
            h1= __('heroTitle')
            h3= __('heroSubtitle')
            .bg
          .col
            #counter= __('counterTitle')
              small= __('counterSubtitle')
              .bg
              .bg
    ul#social-links
      li: a.icon-github(href='http://github.com/marciovsena/bibleapi' target='_blank' title=__('githubTitle'))
      li: a.icon-twitter(href='http://twitter.com/bibleapico' target='_blank' title=__('contactTitle'))
      li: a.icon-discord(href='https://t.co/CFSf4CY47T' target='_blank' title=__('contactTitle'))
      li: a.icon-patreon(href='https://www.patreon.com/join/bibleapi' target="_blank" title=__('donate'))
  // About Section
  section#about
    .container
      .row
        .col
          h2= __('manifestTitle')
          h5= __('manifestSubtitle')
          p= __('manifestDescription1')
          p= __('manifestDescription2')
          p= __('manifestDescription3')
        .col
          h4= __('content')
          p= __('contentDescription')
          h4= __('doc')
          p= __('docDescription')
          h4= __('availability')
          p= __('availabilityDescription')
          h4= __('search')
          p= __('searchDescription')
  section
      .container
        .banner
          .row
            .col
              h2= __('bannerTitle')
              p= __('bannerDescription')
            .col
              a.btn-primary(href='https://github.com/marciovsena/bibleapi/blob/master/DOCUMENTATION.md' target='_blank' title=__('documentationTitle'))= __('bannerButton')
  section#howToUse
    .container
      h2= __('howToUse')
      p.font-p.mg-bt-30
            | #{__('options')}: books, books/gn, verses/nvi/gn/1, verses/acf/gn/1/1
            a(href='https://github.com/marciovsena/bibleapi/blob/master/DOCUMENTATION.md/' target='_blank' title=__("documentation"))= __('andMore')
      form#form-1
        label(for='path') https://bibleapi.co/api/
        input(type='text' aria-describedby='basic-addon3' value='verses/nvi/sl/23' placeholder='verses/{version}/{book}/{chapter}/{number}')
        button(type='submit' title=__('search'))= __('search')
      pre#output
  section#donate
    .container
      h2= __('contributeTitle')
      p.font-p.mg-bt-30
          | #{__('contributeDescription')}
      a(href='https://www.patreon.com/join/bibleapi' target='_blank')
        img(src='https://cdn-std.dprcdn.net/files/acc_649651/plrSCT' style='height: 80px;' alt='Patreon')
  footer
    .container
      .row
        .col: p= __('credits')
        .col: a.btn-small(href='https://stats.uptimerobot.com/5PXmCNLM' target='_blank' title=__("statusPage"))= __("statusPage")
