doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title bibleAPI | #{__("title")}
  meta(name='author' content='@bibleapico')
  meta(name='description' content=__("description"))
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@700&display=swap")
  link(rel='stylesheet' href='/theme-v2/css/normalize.css')
  link(rel='stylesheet' href='/theme-v2/css/style.css')
body
  nav
    .container
      a(href='/'): img(src='/theme-v2/images/logo-symbol-a-biblia-digital.svg')
      ul
        li: a.text(href='#about' title=__('aboutTitle'))= __('about')
        li: a.text(href='#howToUse' title=__('howToUseTitle'))= __('howToUse')
        li: a.text(href='http://github.com/marciovsena/bibleapi' target='_blank' title=__('documentationTitle'))= __('documentation')
        li: a.text(href='#donate' title=__('donateTitle'))= __('donate')
        li: a.icon-github(data-scroll='' href='http://github.com/marciovsena/bibleapi' target='_blank' title=__('githubTitle'))
        li: a.icon-twitter(href='http://twitter.com/bibleapico' target='_blank' title=__('contactTitle'))
        li: a.icon-discord(href='https://t.co/CFSf4CY47T' target='_blank' title=__('contactTitle'))
        li: a(href=__('changeLanguageLink')): img(src=__('changeLanguageImage'))
  header
