doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title ABíbliaDigital | #{__("title")}
  meta(name='author' content='@abibliadigital')
  meta(name='description' content=__("description"))
  script(defer='' src='/theme-v2/js/jquery-1.12.4.min.js')
  script(defer='' src='/theme-v2/js/jquery.json-viewer.js')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/theme-v2/css/jquery.json-viewer.css')
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@700&display=swap")
  link(rel='stylesheet' href='/theme-v2/css/normalize.css')
  link(rel='stylesheet' href='/theme-v2/css/style.css')
  link(rel='apple-touch-icon' sizes='57x57' href='/theme-v2/images/favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='/theme-v2/images/favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='/theme-v2/images/favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='/theme-v2/images/favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='/theme-v2/images/favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='/theme-v2/images/favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='/theme-v2/images/favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='/theme-v2/images/favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='/theme-v2/images/favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='/theme-v2/images/favicon/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/theme-v2/images/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='/theme-v2/images/favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/theme-v2/images/favicon/favicon-16x16.png')
  link(rel='manifest' href='/theme-v2/images/favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
  script.
    (function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
    var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true; 
    j.src = `${'https://www.googletagmanager.com/gtm.js?id='}${i}${dl}`;
    f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '#{GA_TRACKING_ID}');

body
  // Google Tag Manager (noscript)
  noscript
    iframe(src='https://www.googletagmanager.com/ns.html?id=' + GA_TRACKING_ID, height='0', width='0', style='display:none;visibility:hidden')
  // End Google Tag Manager (noscript)
  // Fixed Navigation
  nav
    .container
      a(href=__('thisLanguage')): img(src='/theme-v2/images/logo-symbol-a-biblia-digital.svg' alt=__('title'))
      button.icon-menu.menu-toggle
      ul
        li: button.icon-close.menu-toggle
        li: a.text.section-scroll(href='#about' title=__('aboutTitle'))= __('about')
        li: a.text.section-scroll(href='#howToUse' title=__('howToUseTitle'))= __('howToUse')
        li: a.text(href='http://github.com/omarciovsena/abibliadigital' target='_blank' title=__('documentationTitle'))= __('documentation')
        li: a.text.section-scroll(href='#donate' title=__('donateTitle'))= __('donate')
        li: a.icon-github(href='http://github.com/omarciovsena/abibliadigital' target='_blank' title=__('githubTitle'))
        li: a.icon-twitter(href='http://twitter.com/omarciovsena' target='_blank' title=__('contactTitle'))
        li: a.icon-whatsapp(href='https://chat.whatsapp.com/D6u9LuqgKYHJwJXCnneXpH' target='_blank' title=__('joinTheCommunity'))
        li: a(href=__('changeLanguageLink') title=__('changeLanguageTitle')): img(src=__('changeLanguageImage') alt=__('changeLanguageTitle'))
  // Header
  header
    a(href=__('thisLanguage')): img(src='/theme-v2/images/logo-a-biblia-digital.svg' alt=__('title'))
    .container
      #hero
        .row
          .col
            h1= __('heroTitle')
            h3= __('heroSubtitle')
            .bg
          .col
            #counter= __('counterTitle')
              small= __('counterSubtitle')
              .bg
              .bg
    ul#social-links
      li: a.icon-github(href='http://github.com/omarciovsena/abibliadigital' target='_blank' title=__('githubTitle'))
      li: a.icon-twitter(href='http://twitter.com/omarciovsena' target='_blank' title=__('contactTitle'))
      li: a.icon-whatsapp(href='https://chat.whatsapp.com/D6u9LuqgKYHJwJXCnneXpH' target='_blank' title=__('joinTheCommunity'))
      li: a.icon-patreon(href='https://www.patreon.com/omarciovsena' target="_blank" title=__('donate'))
  // About Section
  section#about
    .container
      .row
        .col
          h2= __('manifestTitle')
          h5= __('manifestSubtitle')
          p= __('manifestDescription1')
          p= __('manifestDescription2')
          p= __('manifestDescription3')
        .col
          h4= __('content')
          p= __('contentDescription')
          h4= __('doc')
          p= __('docDescription')
          h4= __('availability')
          p= __('availabilityDescription')
          h4= __('search')
          p= __('searchDescription')
  // Banner CTA
  section
      .container
        .banner
          .row
            .col
              h2= __('bannerTitle')
              p= __('bannerDescription')
            .col
              a.btn-primary(href='https://github.com/omarciovsena/abibliadigital/blob/master/DOCUMENTATION.md' target='_blank' title=__('documentationTitle'))= __('bannerButton')
              ul#documentation-links
                li: a.doc-icon.icon-svg(href='https://insomnia.rest/run/?label=AB%C3%ADbliaDigital%20API&uri=https%3A%2F%2Fraw%2Egithubusercontent%2Ecom%2Fomarciovsena%2Fabibliadigital%2Fmaster%2Fdocs%2Finsomnia.json' target='_blank' title=__('bannerDocInsomniaTitle')): img(src='/theme-v2/images/ic-insomnia.svg' alt=__('bannerDocInsomniaTitle'))
                li: a.doc-icon.icon-svg(href='https://www.postman.com/nathabonfim59/workspace/github-contributions/api/c9a09e38-b0ca-41f4-85bb-d7cea69d4866' target='_blank' title=__('bannerDocPostmanTitle')): img(src='/theme-v2/images/ic-postman.svg' alt=__('bannerDocPostmanTitle'))
                li: a.doc-icon.icon-svg(href='https://editor.swagger.io/?url=https%3A%2F%2Fraw%2Egithubusercontent%2Ecom%2Fomarciovsena%2Fabibliadigital%2Fmaster%2Fdocs%2Fopenapi.yaml' target='_blank' title=__('bannerDocSwaggerTitle')): img(src='/theme-v2/images/ic-swagger.svg' alt=__('bannerDocSwaggerTitle'))
  // How To Use
  section#howToUse
    .container
      h2= __('howToUse')
      p.font-p.mg-bt-30
            | #{__('options')}: books, books/gn, verses/nvi/gn/1, verses/acf/gn/1/1
            a(href='https://github.com/omarciovsena/abibliadigital/blob/master/DOCUMENTATION.md/' target='_blank' title=__("documentation"))= __('andMore')
      form#form-1
        label#basic-addon3(for='path') https://www.abibliadigital.com.br/api/
        input#path(type='text' aria-describedby='basic-addon3' value='verses/nvi/sl/23' placeholder='verses/{version}/{book}/{chapter}/{number}')
        button#button-addon1(type='submit' title=__('search'))= __('search')
      pre#output
  // Donate
  section#donate
    .container
      h2= __('contributeTitle')
      p.font-p.mg-bt-30
          | #{__('contributeDescription')}
      a(href='https://www.patreon.com/omarciovsena' target='_blank')
        img(src='https://cdn-std.dprcdn.net/files/acc_649651/plrSCT' style='height: 80px;' alt='Patreon')
  // Footer
  footer
    .container
      .row
        .col: p= __('credits')
        .col: a.btn-small(href='https://stats.uptimerobot.com/5PXmCNLM' target='_blank' title=__("statusPage"))= __("statusPage")
  // Main js
  script(defer='' src='/theme-v2/js/main.js')
  script(defer='' src='/assets/scripts/app.js')
